body {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Alumni Sans Collegiate One', sans-serif;
    font-family: 'Anek Telugu', sans-serif;
    font-family: 'Antonio', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Rubik Dirt', cursive;
    font-family: 'Secular One', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}



/* all div and section */
.all-grid {
    padding-left: 10px;
}

/* transition */

.animat {

    animation: color 5s infinite;
}

@keyframes color {
    0% {
        color: blue;
    }

    25% {
        color: rgb(0, 255, 51);
    }

    70% {
        color: rgb(255, 0, 187);
    }


    100% {
        color: aquamarine;
    }
}

.div-image img {
    transition: transform 5s ease-in-out;
}

.the-greatest-show:hover img {
    transform: scale(0.9);

}


.justify-center {


    display: flex;
    justify-content: center;
    align-items: center;


}


.the-greatest-show {
    width: 1321px;
    height: 646px;
    background-color: black;
    margin-top: 2%;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;


}

.the-greatest-show img {
    width: 581px;
    height: 613px;
}

.div-letter {
    padding-top: 7.5%;
    padding-left: 6.9%;
}

.div-image {
    padding-right: 1%;
}

.second-section {
    margin-top: 6.9%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.second-section-fisrt-div {
    width: 1321px;
    height: 1500px;
    display: flex;
}

.grid {
    width: 312px;

    height: 362px;

    border-radius: 25px;
    box-shadow: 13px 10px 20px grey;
}

.display {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}


/* all div and section */



/* 
all small tags */
.padding {
    padding: 10px;
}

.grid img {
    width: 100%;
    margin-bottom: 16px;
}


.h1 {
    color: white;
}

h1 {
    font-size: 50px;

}

.nav {
    width: 312px;
    height: 312px;
    background-color: black;
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.button {
    height: 20px;
    width: 200px;
    padding: 13px 6px;
    text-decoration: none;
    color: aliceblue;
    border: 3px solid white;

    background-color: red;
    border-radius: 16px;

}

.button:hover {
    font-weight: bolder;
    border: 3px solid blue;

}

.nav-button {
    text-decoration: none;
    color: black;
    background-color: white;
    height: 20px;
    width: 200px;
    padding: 10px 5px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 800;
    border-radius: 10px;


}

.nav-button:hover {
    background-color: red;
    font-weight: bolder;
    border: 3px solid blue;
}

.icon-flex {
    display: flex;

}

.measure {
    margin-left: 20px;


}

.margin {
    margin-bottom: 19px;
    position: relative;
    right: 5px;
}

footer {
    margin-top: 5%;
    background-color: black;
    padding-bottom: 200px;
}

.align {
    text-align: center;
    padding-top: 80px;
}

hr {
    width: 70%;
}

.color {
    color: white;
    margin: 10px;
}

.font {
    display: flex;
    justify-content: center;
    align-items: center;

}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

.grid2 {
    width: 312px;

    height: 362px;

    border-radius: 25px;
    box-shadow: 13px 10px 20px grey;
    padding: 10px;
}

.flex img {
    width: 100%;
}

.cen {
    text-align: center;
}

.all2-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    margin-left: 9px;

}